# Análisis y visualización de datos con Python
# 1. Introducción a Python

    - a) Python y Jupyter Notebooks
    - b) Valores, variables y tipos
    - c) Operaciones y funciones
    - d) Comentarios y errores
    - e) Resumen

---

Bienvenido al curso de Análisis y Visualización de Datos con Python.

Durante el curso, aprenderás a manipular y visualizar datos de manera eficiente, utilizando herramientas y técnicas avanzadas. Al final del curso, esperamos que tengas las habilidades necesarias para realizar análisis de datos con confianza y en profundidad.

Este tutorial está diseñado para aquellos interesados en el análisis de datos y la visualización, y que desean aprender cómo utilizar Python y Pandas para realizar esta tarea de manera efectiva. Aunque no se requiere experiencia previa en programación o análisis de datos, se recomienda tener un conocimiento básico de Excel y Python para aprovechar al máximo el tutorial.

Este primer tutorial está diseñado para proporcionar una introducción práctica y en profundidad a la programación en Python y los notebooks de Anaconda.

## 1.a Python y Jupyter Notebooks

**Python es un lenguaje de programación** interpretado, dinámico y de alto nivel, creado por Guido van Rossum en 1991. Es ampliamente utilizado en diversos campos, incluyendo la ciencia de datos, el desarrollo web, la inteligencia artificial y la automatización de tareas. Python es conocido por ser fácil de aprender y leer, y cuenta con una amplia variedad de bibliotecas y módulos que facilitan el desarrollo de aplicaciones y proyectos. Además, es un lenguaje multiplataforma, lo que significa que se puede utilizar en diferentes sistemas operativos como Windows, Mac y Linux.

Para utilizar Python existen una serie de herramientas, en este curso nos centraremos es [Google Colab](https://colab.research.google.com/) y [Jupyter Notebooks](https://jupyter.org/).
Un **Notebook** es una aplicación web que permite crear y compartir documentos que contienen código, texto, visualizaciones y otros elementos interactivos. Los Jupyter Notebooks se usan comúnmente en la ciencia de datos y la programación para explorar y analizar datos, desarrollar y probar código y crear informes o presentaciones interactivas.

Los Notebooks están compuestos por **celdas**, que pueden ser de tres tipos:
* **Markdown** permiten escribir texto en [formato Markdown](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#footnotes). Sirven para documentar el proceso de trabajo.
* **Code** permiten escribir código en el lenguaje de programación elegido. La salida generada por el código, como texto, tablas, imágenes, etc., también se mostrará en la celda Code.

Para **ejecutar una celda**, se puede hacer clic en el botón ▶️ `Run` o presionar `Ctrl + Enter` Es importante tener en cuenta que el kernel del Notebook muestra información del estado de ejecución y el lenguaje de programación en la esquina superior derecha.

### Ejercicio 1

1. Ejecuta la siguiente celda y examina las diferentes partes de la celda.

In [1]:
print("Hola mundo!")

Hola mundo!

## 1.b Valores, variables y tipos

Antes de empezar necesitamos algunas definiciones:

* Valor: la medida o atributo real
* Variable: una medida o atributo que puede cambiar

Por ejemplo, `5` es un valor, pero `a` es una variable que puede tener cualquier valor, como 5.

In [2]:
a = 5
a

5

En Python existen diferentes tipos de datos, como números enteros, flotantes, texto y booleanos.

Los números enteros se escriben sin decimales, mientras que los flotantes tienen decimales. El texto se escribe entre comillas simples o dobles. Los booleanos son verdadero o falso.

* _integer_ (`int`): número entero
* _float_ (`float`): número decimal
* _string_ (`str`): cadena de texto
* _boolean_ (`bool`): verdadero o falso
* `None` y `np.nan`: cuando no existe

Para saber el tipo de un valor usamos la función `type()`

Por defecto, el notebook nos muestra la salida de las instrucciones en la última línea de la celda sin necesidad de usar la instrucción `print()`

Asignemos a la variable `a` el valor entero `5`

In [3]:
a = 5
a, type(a)

(5, int)

Ahora, asignemos a la misma variable `a` el valor flotante `5.0`. Podemos ver que aunque la variable es la misma, el tipo cambia.

In [4]:
a = 5.0
a, type(a)

(5.0, float)

También podemos asignar a `a` el texto `'cinco'`, marcando entre comillas que es un valor de texto.

Cabe destacar que aunque para un humano el valor es el mismo, para la computadora son tres valores diferentes con distintas características. Tanto `5` como `5.0` son números y se pueden en usar operaciones matemáticas, aunque se representan diferente en la memoria.
Por otro lado, `cinco` es un texto y se le aplican operaciones diferentes.

In [5]:
a = "cinco"
a, type(a)

('cinco', str)

Otro tipo de datos son los Booleanos, los cuales pueden ser Verdaderos o Falsos.

In [6]:
a = False
a, type(a)

(False, bool)

A veces necesitamos representar la falta de información: `None` se utiliza para representar cuando el valor "no existe".

In [7]:
a = None
a, type(a)

(None, NoneType)

Python incluye una serie de herramientas por default, pero algunas más especializadas se encuentran en bibliotecas especiales. Por ejemplo, `nan` o "not a number" es parte de biblioteca de operaciones matemáticas `numpy`.

In [8]:
from numpy import nan
a = nan
a, type(a)

(nan, float)

### Listas

Además, existen tipos que son colecciones de otros valores:
* `list`: lista ordenada
* `dict`: diccionario con llaves

Primero definiremos una lista, en este caso usaremos una nueva variable llamada `l`

In [9]:
l = [1,2,3,4,5,6,7,8,9,0]
l, type(l)

([1, 2, 3, 4, 5, 6, 7, 8, 9, 0], list)

Podemos acceder a los elementos de las listas por su posición. Las listas empiezan de cero.

In [10]:
l[0]

1

In [11]:
l[3]

4

El usar números negativos en el índice nos regresa el elemento contando del final hacia el principio

In [12]:
l[-1]

0

También podemos acceder a múltiples consecutivos elementos de la lista con el formato `inicio : final`.
Nota que no se incluye el último número.

In [13]:
l[2:6]

[3, 4, 5, 6]

Si no se marca el final en automático se pone el resto de la lista

In [14]:
l[4:]

[5, 6, 7, 8, 9, 0]

Las listas pueden contener valores de distintos tipos, incluyendo otras listas

In [15]:
l = [1,2, 'tres', 4, ['cinco','five', '5','cinq', 5], 6, 'siete']
l, type(l)

([1, 2, 'tres', 4, ['cinco', 'five', '5', 'cinq', 5], 6, 'siete'], list)

En el caso de listas anidadas, es decir, listas adentro de listas, se puede acceder a los valores encadenando corchetes.

In [16]:
l[4][-2]

'cinq'

### Diccionarios

Los diccionarios son pares de números, tienen una llave y un valor.

La llave debe de ser un tipo _inmutable_ como texto, número o Booleano.

In [17]:
a = {'uno':1, 'dos':2, 'tres':3, 'cuatro':4, 'cinco':5}
a, type(a)

({'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, 'cinco': 5}, dict)

Se puede acceder al diccionario usando la llave.

In [18]:
a['tres']

3

Podemos ver todas las llaves con `.keys()`

In [19]:
a.keys()

dict_keys(['uno', 'dos', 'tres', 'cuatro', 'cinco'])

Podemos ver todas los valores con `.values()`

In [20]:
a.values()

dict_values([1, 2, 3, 4, 5])

Podemos ver todas los pares de llaves y valores con `.items()`. Esto es útil para iterar sobre un diccionario.

In [21]:
a.items()

dict_items([('uno', 1), ('dos', 2), ('tres', 3), ('cuatro', 4), ('cinco', 5)])

### Ejercicio 2
1. Crea una nueva celda de código
2. Crea una lista con cinco elementos y guárdala en una variable _b_
3. Encuentra el primer, tercer y último elemento

## 1.c Operaciones y funciones

En Python se pueden realizar operaciones matemáticas, como suma, resta, multiplicación y división. También se pueden usar operadores de comparación, como igual a (==), menor que (<) y mayor que (>).

Las operaciones y comparaciones se combinan para crear expresiones, que son evaluadas para producir un resultado.

Una **función** toma una serie de argumentos y realiza una serie de pasos y regresa un resultado (generalmente).

Podemos distinguir las funciones por qué usan paréntesis.
* `print('Hola mundo')`
* `'-'.join(['a','b','c','d'])`

Los corchetes se usan para encontrar la posición dentro de una estructura de datos

In [22]:
a = 5
b = -7
a + b

-2

También podemos verificar si dos variables son iguales con `==`

In [23]:
a == b

False

Para diferencia se usa `!=`

In [24]:
a != b

True

Además, hay operaciones como mayor `>`, menor `<`, mayor o igual `>=` y menor o igual `<=`,

In [25]:
a <= b

False

En el caso de las cadenas de texto existen funciones como unir, capitalizar, remplazar o quitar acentos

In [26]:
s = 'foo'
t = 'bar'
s+t

'foobar'

Se pueden unir varios textos con otro texto

In [27]:
'-'.join([s,t,t,s])

'foo-bar-bar-foo'

Se puede cambiar de mayúsculas a minúsculas de varias formas

In [28]:
s.lower()

'foo'

O se puede remplazar un texto específico por otro

In [29]:
t.replace('ar','arggggg')

'barggggg'

No todas las funciones están en los paquetes básicos. Por ejemplo, quitar acentos está en `unidecode`, por lo cual es necesario instalarlo e importarlo.

In [30]:
#! pip install unidecode
import unidecode
s = 'áéÍÓüÑ'
unidecode.unidecode(s)

'aeIOuN'

## 1.d Comentarios y errores

Es importante documentar los pasos que seguimos dentro de un análisis, parte de esta documentación son los comentarios.

Los comentarios son pequeños textos dentro del código que explican lo que este hace. Los comentarios empiezan con #.

In [31]:
# Importa la funcion unidecode para quitar acentos
from unidecode import unidecode
a = 'foó' # declara variable
unidecode(a) # ejecuta la funcion

'foo'

Cuando Python no encuentra un problema puede levantar un warning o error. Un warning es una advertencia, mientras que un error implica que algo fallo. Estos se muestran como celdas rojas.

Para leer un error es importante recordar:
* La flecha verde indica en que línea se cometió el error
* La última línea dice el resumen del error, esta línea es la que se googlea para buscar una solución

In [32]:
a = {'uno':1, 'dos':2, 'tres':3, 'cuatro':4, 'cinco':5}
a[3]

KeyError: 3

### Ejercicio 3
1. En una celda nueva escribe una expresión que generé un error
2. Reconoce cada uno de los elementos del mensaje de error
3. Busca el error y explica qué sucedió

## 1.e Resumen

En esta lección hemos aprendido varios conceptos:
* Jupyter notebook y sus principales tipos de celdas:
    * Markdown para escribir texto
    * Code para programar
* El kernel y como correr una celda
* Tipos de datos básicos: enteros `int`, flotantes `float`, cadenas de texto `str`, booleanos `bool` y `None`
* Operaciones de números, cadenas de texto y booleanas
* Estructuras de datos como listas `list` y diccionarios `dict`
* Tipos de documentación en celda y código (usando `#`)
* Partes de un error:
    * Tipo de error
    * Mensaje de error
    * Línea del error

**¡Gracias!**